<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This content was created by me. It uses online data!</p>
    <img src="http://www.itsnature.org/wp-content/uploads/2008/02/blobfish1.jpg" alt="">
</div>
{{>footer}}
</body>
</html>